/*     reglages generales */

* {
    box-sizing: border-box;
    /* background: rgb(239, 253, 253); */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
}

a,
a:visited {
    /* color: #000; */
    text-decoration: none;
}

p {
    line-height: 36px;
    margin: 25px 0;
}

.button {
    border: 1px solid #ccc;
    padding: 13px 20px;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.4s;
}

.button:hover {
    border: 1px solid skyblue;
    color: skyblue;
}


/* Entete */

.header {
    min-height: 25vh;
    background: rgba(0, 0, 0, 0.912);
    color: #fff;
}

.positionnement {
    position: relative;
    z-index: 2;
}

nav {
    position: absolute;
    top: 36px;
    left: 45%;
}

.logo {
    position: absolute;
    top: 45px;
    left: 5%;
    text-decoration: underline yellow solid 5px;
}

.titre {
    position: absolute;
    top: 70px;
    left: 5%;
    padding: 5px 0 10px 35px;
}

ul {
    display: flex;
}

li {
    padding: 22px;
    list-style-type: none;
}

li a {
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 2.5s ease;
}

li a:hover {
    color: yellow;
    text-decoration: underline rgb(255, 255, 255) solid 5px;
}


/* corps = Body */

main {
    min-height: 100vh;
    background: url('./assets/header.jpg') no-repeat center/cover;
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: #fff; */
    /* margin-top: 80px; */
}

.banniere h1 {
    font-size: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid blue;
    color: yellow;
}

.banniere h2 {
    font-size: 40px;
    text-transform: uppercase;
    border: 2px solid red;
    margin: 0 0 0 40%;
    color: white;
}

.section-1,
.section-2,
.section-3,
.section-4 {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}

.container-1,
.A-main {
    text-align: center;
    margin: 100px;
    padding: 50px;
    border: 2px solid cadetblue;
}

.A-main {
    margin: 70px;
    font-size: 30px;
}

.A-main h1 {
    margin: 18px;
    font-size: 40px;
    text-transform: uppercase;
    /* border: 2px solid salmon; */
}

.img-banniere1 {
    background: url(./assets/tete.jpeg) no-repeat center/cover;
    margin-top: 132px;
}

.img-banniere2 {
    background: url(./assets/box.jpg) no-repeat center/cover;
}

.img-banniere3 {
    background: url(./assets/title.jpeg .jpeg) no-repeat center/cover;
}

.img-banniere4 {
    background: url(./assets/pexels-photo-4720242.jpeg) no-repeat center/cover;
}


/* pied de page */

footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    background: rgb(16, 15, 15);
    width: 100%;
    color: rgb(255, 255, 255);
}

.social {
    text-align: center;
}

.social ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social ul li {}